<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
    th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <title>Lista Dos Pacientes</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
  <nav class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed"
                    data-toggle="collapse" data-target="#navbar" aria-expanded="false"
                    aria-controls="navbar">
                    <span class="sr-only">Toggle navigation</span> <span>
                        class="icon-bar"></span> <span class="icon-bar"></span> <span>
                        class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" th:href="@{/registration}">Registo</a>
            </div>
            <div id="navbar" class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li sec:authorize="isAuthenticated()"><a th:href="@{/logout}">Logout</a></li>
                    
                </ul>
            </div>
        </div>
    </nav>

    <br>
    <br>
        
        <div>
            <nobr>
             
            </nobr>
        </div>
        <br/><br/>
       
               
               
                <br/>
               
                 <br>
                    <br>
              <div class="panel panel-default" style="margin:10px">
                 <!-- FORM DE PESQUISA -->
                <form th:action="@{/paciente/pesquisaPaciente}" class="form-inline" method="GET" style="margin: 20px 0">
                <div class="form-group">
                <input type="text" class="form-control"
                        placeholder="Qual nome deseja?" name="nome"/>
                
                 <input type="submit" value="Buscar" class="btn btn-primary">
              </div>
                </form>
                <!-- FORM PESQUISA END -->
              <div class="panel-heading">
                <h3>Lista dos Pacientes</h3>
                <a th:href="@{/teste}" class="btn btn-primary btn-sm mb-3">Adicionar Paciente</a>
                <a th:href="@{/}" class="btn btn-primary btn-sm mb-3" >Home</a><br><br>
              </div>
              <div class="panel-body">
            <table  class= "table ">
            <thead>
                <tr>
                   
                    <th>Nome</th>
                    <th>Apelido</th>
                    <th>Email</th>
                    <th>DataNasc</th>
                    <th>Sexo</th>
                    <th>Doc</th>
                    <th>NumDoc</th>
                    <th>Conjuge</th>
                    <th>TelfConjuge</th>
                    <th>Accoes</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each ="paciente : ${pacientes}">
                     
                    <td><span th:text="${paciente.nome}"></span></td>
                      <td><span th:text="${paciente.apelido}"></span></td>
                       <td><span th:text="${paciente.email}"></span></td>
                       <td><span th:text="${paciente.dataNasc}"></span></td>
                       <td><span th:text="${paciente.sexo}"></span></td>
                      <td><span th:text="${paciente.documento}"></span></td>
                      <td><span th:text="${paciente.numDoc}"></span></td>
                       <td><span th:text="${paciente.conjuge}"></span></td>
                      <td><span th:text="${paciente.telfConjuge}"></span></td>
                  <td ><a th:href="@{/paciente/updatePaciente/{id}(id=${paciente.id})}" class="btn btn-info btn-sm mb-3"><span class="glyphicon glyphicon-pencil"></span></a>
                        <a th:href="@{/paciente/deletePaciente/{id}(id=${paciente.id})}" class="btn btn-danger btn-sm mb-3"><span class="glyphicon glyphicon-trash"></span></a>
                 
                  </td>
                        
                </tr>
                </tbody>
            </table>
            </div>
            </div> 
            <!-- PAGINATION --> 
            <div th:if = "${totalPages > 1}" >
		            <div class="row col-sm-10">
		                   <div class="row col-sm-2">
		                      Total Rows: [[${totalItems}]]
		                   </div>
		                    <div class="row col-sm-1">
		                    <span th:each="${#numbers.sequence(1, totalPages)}">
		                    <a th:if="${currentPage != i}" th:href="@{'/page' +${i}}">[[${i}]]</a>
		                    <span th:unless="${currentPage != i}">[[${i}]]</span> &nbsp; &nbsp;
		                    
		                    </span>
		                    
		                    </div>
		                     <div class="row col-sm-1">
		                     <a th:if="${currentPage < totalPages}" th:href="@{'/page' + ${currentPage + 1}}">Next</a>
		                     <span th:unless="${currentPage < totalPages}">Next</span>
		                     </div>
		                     
		                     <div class="row col-sm-1">
                             <a th:if="${currentPage < totalPages}" th:href="@{'/page' + ${totalPages}}">Last</a>
                             <span th:unless="${currentPage < totalPages}">Last</span>
                             </div>
		            
		            </div>
            
            
            </div>
                    
        
        <br/><br/>
         
      
       
            <script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
        
        

    </body>
</html>