<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<meta name="viewport" content="width=device-width, initial-scale=1" />

<link rel="stylesheet" type="text/css"
    th:href="@{/webjars/bootstrap/3.3.7/css/bootstrap.min.css}" />
        <title>Lista Dos Pacientes</title>
        <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
    </head>
    <body>
        <h3>Lista dos Pacientes</h3>
        
        <div>
            <nobr>
                <a th:href="@{/teste}">Adicionar Paciente</a>
                <a th:href="@{/}">Home</a>
            </nobr>
        </div>
        <br/><br/>
        <div>
            <table id="dtBasicExample" class="table table-striped table-bordered table-sm" cellspacing="0" width="100%">
            <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>Apelido</th>
                    <th>Email</th>
                    <th>Documento</th>
                    <th>NumDocumento</th>
                    <th>Conjuge</th>
                    <th>TelfConjuge</th>
                    <th>Editar</th>
                </tr>
                </thead>
                <tbody>
                <tr th:each ="paciente : ${pacientes}">
                     <td><a th:href="@{/pacientes/{pacienteId}(pacienteId=${paciente.id})}">...</a></td> 
                    <td><span th:text="${paciente.nome}"></span></td>
                      <td><span th:text="${paciente.apelido}"></span></td>
                       <td><span th:text="${paciente.email}"></span></td>
                      <td><span th:text="${paciente.documento}"></span></td>
                      <td><span th:text="${paciente.num_doc}"></span></td>
                       <td><span th:text="${paciente.conjuge}"></span></td>
                      <td><span th:text="${paciente.telfConjuge}"></span></td>
                 <!--<td><a th:href="${(#mvc.url('PEp#deletarPaciente').arg(0, paciente.id)).build()}">Deletar</a></td>-->
                 <td><a th:href="@{/editarpaciente(pacientenome=${paciente.nome})}">Editar</a></td>
                </tr>
                </tbody>
            </table>  
                    
        </div>
        <br/><br/>
        <div>
            <nobr>
                <span th:if="${hasPrev}"><a th:href="@{/pacientes?page={prev}(prev=${prev})}">Anterior</a>&nbsp;&nbsp;&nbsp;</span> 
                <span th:if="${hasNext}"><a th:href="@{/pacientes?page={next}(next=${next})}">Proximo</a></span>
            </nobr>
        </div>
        <!-- HABILITAR PAGINACAO -->
        <script>
     // Basic example
        $(document).ready(function () {
          $('#dtBasicExample').DataTable({
            "paging": true // false to disable pagination (or any other option)
          });
          $('.dataTables_length').addClass('bs-select');
        });
     ///************
		     $(document).ready(function () {
		  $('#dtBasicExample').DataTable();
		  $('.dataTables_length').addClass('bs-select');
		});
     <!-- Opcaoes de paginacao-->
  // Basic example
     $(document).ready(function () {
       $('#dtBasicExample').DataTable({
         "pagingType": "simple" // "simple" option for 'Previous' and 'Next' buttons only
       });
       $('.dataTables_length').addClass('bs-select');
     });
        
        
        </script>
            <script type="text/javascript"
        th:src="@{/webjars/jquery/3.2.1/jquery.min.js/}"></script>
    <script type="text/javascript"
        th:src="@{/webjars/bootstrap/3.3.7/js/bootstrap.min.js}"></script>
    </body>
</html>